<div class="w-column-r doc-analysis-stage-2 blk-spec animated faster __relative">

    <form name="save-current-classif">
        {{#each arrTrees}}
        <div class="parent-blk-classificators no-edit animated faster">
            <a href="javascript:;" class="close-elbl st-11-cl" title="{{i18n 'Close'}}"></a>
            {{{this}}}
            <div class="only-choose-classif"></div>
        </div>
        {{/each}}
    </form>
</div>

<div class="w-column-r select-nn-req __use-select-none">{{i18n 'Select a requirement for viewing'}}</div>