<div class="header_top">
    <div class="header-top-left">
        <a href="javascript:;" class="his-icon unactive history-back" title="{{i18n 'history-back'}}"><svg viewBox="0 0 24 24"><use xlink:href="#arrow-to-left" /></svg></a>
        <a href="javascript:;" class="his-icon unactive history-forward" title="{{i18n 'history-forward'}}"><svg viewBox="0 0 24 24"><use xlink:href="#arrow-to-right" /></svg></a>
        <a href="{{siteConf 'url'}}" class="his-icon history-home" title="{{i18n 'main-page'}}">&nbsp;</a>
        <a href="javascript:;" class="header_top_name">
            <span class="__cut">Информационная система управления нормативной документацией&nbsp;</span><span>ИСУНД АСУТП &laquo;Транснефть&raquo;</span>
        </a>
    </div>

    <div class="header_top_logged">
        <ul class="lst">
            <li class="__revision"><span>v.&nbsp;{{version}}</span></li>
            <li>
                <span class="__user" title="{{login}}">{{userName}}</span>
            </li>
            <li class="_t__help">
                <a href="javascript:;" class="__help"><svg viewBox="0 0 24 21"><use xlink:href="#help-is-sht" /></svg></a>
            </li>
        </ul>
    </div>
</div>