<ul>
    <li>
        <ul class="product-list-icon">
            <li>
                <a href="http://docs.cntd.ru/">docs.cntd.ru</a> 
                <div>Электронный фонд правовой и&nbsp;нормативно-технической документации</div>
            </li>
            
            <li>
                <a href="http://md.kodeks.ru">md.kodeks.ru</a>
                <div>Мастер документов</div>
            </li>
            
            <li>
                <a href="http://sudrf.kodeks.ru">sudrf.kodeks.ru</a>
                <div>Архив решений арбитражных судов и&nbsp;судов общей юрисдикции</div> 
            </li>
            <li>
                <a href="http://docs.cntd.ru/hotdocs">docs.cntd.ru/hotdocs</a> 
                <div>Горячие документы</div> 
            </li>
            <li>
                <a href="http://rustandards.ru">rustandards.ru</a> 
                <div>Единый портал обсуждения проектов нормативно-правовых документов</div> 
            </li>
            <li>
                <a href="http://kodeks.ru/subscribe">kodeks.ru/subscribe</a> 
                <div>Подписка на&nbsp;новости</div> 
            </li>
            <li>
                <a href="http://shop.cntd.ru">shop.cntd.ru</a> 
                <div>Интернет-магазин правовой и&nbsp;нормативно-технической документации</div> 
            </li>
            <li>
                <a href="http://kodeks.ru">kodeks.ru</a>
                 <div>Официальный портал &laquo;Кодекс&raquo;</div> 
            </li>
            <li>
                <a href="http://cntd.ru">cntd.ru</a>
                <div>Официальный портал &laquo;Техэксперт&raquo;</div> 
            </li>
            <li>
                <a href="http://suntd.ru">suntd.ru</a> 
                <div>Система управления нормативно-технической документацией &laquo;Техэксперт&raquo;</div> 
            </li>
            <li>
                <a href="http://kodeks.ru/android_promo">Приложения для Android</a> 
                <div>Бесплатные приложения <a href="http://www.kodeks.ru/android_promo">&laquo;Кодекс&raquo;</a> и&nbsp;<a href="http://www.cntd.ru/android_promo">&laquo;Техэксперт&raquo;</a> для планшетов и&nbsp;смартфонов на&nbsp;Android</div> 
            </li>
            <li> 
                <a href="http://kodeks.ru/ipad_promo">Приложения для iOS</a> 
                <div>Бесплатные приложения <a href="http://www.kodeks.ru/ipad_promo">&laquo;Кодекс&raquo;</a> и&nbsp;<a href="http://www.cntd.ru/ipad_promo">&laquo;Техэксперт&raquo;</a> для вашего iPad и&nbsp;iPhone</div> 
            </li>
        </ul>
        <a href="javascript:;">Сервисы и&nbsp;услуги &laquo;Кодекс&raquo; и&nbsp;&laquo;Техэксперт&raquo;</a>
    </li>
    
    <li>
        <a href="javascript:;">Единый личный кабинет пользователя &laquo;Кодекс&raquo; и&nbsp;&laquo;Техэксперт&raquo;</a>
    </li>
    <li>
        <a href="javascript:;">Отчет по&nbsp;итогам обсуждений документов</a>
    </li>
    <li>
        <a href="javascript:;">Сводный отчет</a>
    </li>
    <li>
        <a href="javascript:;">Выйти</a>
    </li>
</ul>
