<div class="ready-bt-made">
    <div class="ready-made-set-values">
        <a href="javascript:;" class="select-pred">{{i18n 'Select a predefined set of values'}}</a>
        <a href="javascript:;" class="save-pred-values">{{i18n 'Save set of values'}}</a>
    </div>

    <div class="pr-st">
        <a href="javascript:;" class="close-elbl st-predef" title="{{i18n 'Close'}}"></a>

        <div class="stage-name">{{i18n 'Selecting a predefined set of values'}}</div>

        {{> partials/lists/ready-made}}
    </div>
</div>