    <div class="sres_cnt __margin-top_m">
        <div class="sres_cnt_inner __js-tabs-cnt with_arrow" style="display: block;">

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="lst documents-lst">
                        <li class="lst_i documents-lst_i __js-slide-down">
                            <a href="#" class="lst_lk __padding-left_xl documents-lst_lk __js-slide-down_h">
                                <i class="arrow_blue ic-1"></i>
                                                        <span class="__margin-bottom_xs">
                                                                                    Руководящий документ (РД)
                                                                                </span>
                            </a>
                            <div class="__js-slide-down_tx">
                                <ul class="lst">
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента систем электронного документооборота и услуг для государственного управления</a>
                                        <div class="inf_wrapper">
                                            <a href="#" class="__js-ic-option ic-2 __inline-block"></a>
                                            <div class="info_block">
                                                <p>Стандартная форма руководящего документа для внутренних документов департамена програмнных технологий для использования в 2017 году</p>
                                            </div>
                                        </div>
                                        <div class="option_wrapper">
                                            <a href="#" class="__js-ic-option ic-3 __inline-block"></a>
                                            <div class="info_block">
                                                <a href="" class="__block">Создать шаблон на основе</a>
                                                <a href="" class="__block">Редактировать шаблон</a>
                                                <a href="" class="__red __block">Удалить шаблон</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2016 год</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2017 год </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lst_i documents-lst_i __js-slide-down_h">
                            <a href="#" class="lst_lk __padding-left_xl documents-lst_lk __js-slide-down_h">
                                <i class="arrow_blue ic-1"></i>
                                                        <span class="__margin-bottom_xs">
                                                                                    Государственный стандарт (ГОСТ)
                                                                                </span>
                            </a>
                            <div class="__js-slide-down_tx">
                                <ul class="lst">
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента систем электронного документооборота и услуг для государственного управления</a>
                                        <div class="inf_wrapper">
                                            <a href="#" class="__js-ic-option ic-2 __inline-block"></a>
                                            <div class="info_block">
                                                <p>Стандартная форма руководящего документа для внутренних документов департамена програмнных технологий для использования в 2017 году</p>
                                            </div>
                                        </div>
                                        <div class="option_wrapper">
                                            <a href="#" class="__js-ic-option ic-3 __inline-block"></a>
                                            <div class="info_block">
                                                <a href="" class="__block">Создать шаблон на основе</a>
                                                <a href="" class="__block">Редактировать шаблон</a>
                                                <a href="" class="__red __block">Удалить шаблон</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2016 год</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2017 год </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lst_i documents-lst_i __js-slide-down_h">
                            <a href="#" class="lst_lk __padding-left_xl documents-lst_lk __js-slide-down_h">
                                <i class="arrow_blue ic-1"></i>
                                                        <span class="__margin-bottom_xs">
                                                                                    Международный стандарт
                                                                                </span>
                            </a>
                            <div class="__js-slide-down_tx">
                                <ul class="lst">
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента систем электронного документооборота и услуг для государственного управления</a>
                                        <div class="inf_wrapper">
                                            <a href="#" class="__js-ic-option ic-2 __inline-block"></a>
                                            <div class="info_block">
                                                <p>Стандартная форма руководящего документа для внутренних документов департамена програмнных технологий для использования в 2017 году</p>
                                            </div>
                                        </div>
                                        <div class="option_wrapper">
                                            <a href="#" class="__js-ic-option ic-3 __inline-block"></a>
                                            <div class="info_block">
                                                <a href="" class="__block">Создать шаблон на основе</a>
                                                <a href="" class="__block">Редактировать шаблон</a>
                                                <a href="" class="__red __block">Удалить шаблон</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2016 год</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2017 год </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lst_i documents-lst_i __js-slide-down_h">
                            <a href="#" class="lst_lk __padding-left_xl documents-lst_lk __js-slide-down_h">
                                <i class="arrow_blue ic-1"></i>
                                                        <span class="__margin-bottom_xs">
                                                                                    Руководящие технологические материалы (РТМ)
                                                                                </span>
                            </a>
                            <div class="__js-slide-down_tx">
                                <ul class="lst">
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента систем электронного документооборота и услуг для государственного управления</a>
                                        <div class="inf_wrapper">
                                            <a href="#" class="__js-ic-option ic-2 __inline-block"></a>
                                            <div class="info_block">
                                                <p>Стандартная форма руководящего документа для внутренних документов департамена програмнных технологий для использования в 2017 году</p>
                                            </div>
                                        </div>
                                        <div class="option_wrapper">
                                            <a href="#" class="__js-ic-option ic-3 __inline-block"></a>
                                            <div class="info_block">
                                                <a href="" class="__block">Создать шаблон на основе</a>
                                                <a href="" class="__block">Редактировать шаблон</a>
                                                <a href="" class="__red __block">Удалить шаблон</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2016 год</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2017 год </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lst_i documents-lst_i __js-slide-down_h">
                            <a href="#" class="lst_lk __padding-left_xl documents-lst_lk __js-slide-down_h">
                                <i class="arrow_blue ic-1"></i>
                                                        <span class="__margin-bottom_xs">
                                                                                    Финансовый отчет
                                                                                </span>
                            </a>
                            <div class="__js-slide-down_tx">
                                <ul class="lst">
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента систем электронного документооборота и услуг для государственного управления</a>
                                        <div class="inf_wrapper">
                                            <a href="#" class="__js-ic-option ic-2 __inline-block"></a>
                                            <div class="info_block">
                                                <p>Стандартная форма руководящего документа для внутренних документов департамена програмнных технологий для использования в 2017 году</p>
                                            </div>
                                        </div>
                                        <div class="option_wrapper">
                                            <a href="#" class="__js-ic-option ic-3 __inline-block"></a>
                                            <div class="info_block">
                                                <a href="" class="__block">Создать шаблон на основе</a>
                                                <a href="" class="__block">Редактировать шаблон</a>
                                                <a href="" class="__red __block">Удалить шаблон</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2016 год</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2017 год </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lst_i documents-lst_i __js-slide-down_h">
                            <a href="#" class="lst_lk __padding-left_xl documents-lst_lk __js-slide-down_h">
                                <i class="arrow_blue ic-1"></i>
                                                        <span class="__margin-bottom_xs">
                                                                                    Справка
                                                                                </span>
                            </a>
                            <div class="__js-slide-down_tx">
                                <ul class="lst">
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента систем электронного документооборота и услуг для государственного управления</a>
                                        <div class="inf_wrapper">
                                            <a href="#" class="__js-ic-option ic-2 __inline-block"></a>
                                            <div class="info_block">
                                                <p>Стандартная форма руководящего документа для внутренних документов департамена програмнных технологий для использования в 2017 году</p>
                                            </div>
                                        </div>
                                        <div class="option_wrapper">
                                            <a href="#" class="__js-ic-option ic-3 __inline-block"></a>
                                            <div class="info_block">
                                                <a href="" class="__block">Создать шаблон на основе</a>
                                                <a href="" class="__block">Редактировать шаблон</a>
                                                <a href="" class="__red __block">Удалить шаблон</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2016 год</a>
                                    </li>
                                    <li class="lst_i check-stroke">
                                        <a href="#" class="lst_lk">Руководящий документ департамента программных технологий за 2017 год </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sres_cnt_inner __js-tabs-cnt" style="display: none;">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="lst documents-lst">
                        <li class="lst_i documents-lst_i __js-check-stroke">
                            <a href="#" class="lst_lk  documents-lst_lk __padding-left_m">
                                Финансовый отчет за 1 квартал 2017 года
                            </a>

                        </li>
                        <li class="lst_i documents-lst_i __js-check-stroke">
                            <a href="#" class="lst_lk  documents-lst_lk __padding-left_m">
                                Руководящий документ департамента программных технологий за 2017 год
                            </a>
                        </li>
                        <li class="lst_i documents-lst_i __js-check-stroke">
                            <a href="#" class="lst_lk  documents-lst_lk __padding-left_m">
                                Справка №3522
                            </a>
                        </li>
                        <li class="lst_i documents-lst_i __js-check-stroke">
                            <a href="#" class="lst_lk  documents-lst_lk __padding-left_m">
                                Инструкция по пожарной безопасности главного офиса
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
