<nav class="top-menu {{#if hideTopMenu}}__hidden{{/if}}">
    <div class="tyt-tabs">
        <ul class="tabs">
            <li class="tabs_i">
                <a href="{{siteConf 'url'}}" class="intab-a" data-xhr-tabs="main-tabs">{{i18n 'ND for classification (Menu)'}}</a>
            </li>
            <li class="tabs_i">
                <a href="{{siteConf 'url'}}pan/" class="intab-a" data-xhr-tabs="main-tabs">{{i18n 'Analytics and reporting (Menu)'}}</a>
            </li>
            <li class="tabs_i">
                <a href="{{siteConf 'url'}}pan/req-analysis/" class="intab-a" data-xhr-tabs="main-tabs">{{i18n 'Requirements analysis (Menu)'}}</a>
            </li>
            <li class="tabs_i">
                <a href="{{siteConf 'url'}}classifiers/" class="intab-a" data-xhr-tabs="main-tabs">{{i18n 'Classifications (Menu)'}}</a>
            </li>
        </ul>
    </div>
</nav>