<div class="edit-classifier relat-height">

    <div class="top-po-pp">
        Редактировать классификаторы
    </div>

    <div class="po-barnus">
        <div class="edb-f">
            <iframe src="" class="fir-ifr" name="edit-classifier"></iframe>
            {{{eScript}}}
        </div>
    </div>

    {{> partials/document.title}}

    <script>
        (function(){

            if(!$ || !window.ClassSubM)
                return;

            var mB = $('body .wrapper .edit-classifier');

        })();
    </script>
</div>
