<div class="reports relat-height">
    <div class="top-po-pp"></div>

    <div class="po-barnus">

        <ul class="lst list-pre-report">
            <li><a href="{{siteConf 'url'}}reports/type-1" data-xhr-tabs="main-tabs">{{i18n 'Report on the stages of classification1'}}</a></li>
            <li><a href="{{siteConf 'url'}}reports/type-2" data-xhr-tabs="main-tabs">{{i18n 'Report on classified ND / ND projects'}}</a></li>
            <li><a href="{{siteConf 'url'}}reports/type-3?opfi=1" data-xhr-tabs="main-tabs">{{i18n 'Report on the results of3'}}</a></li>
        </ul>
    </div>

    {{> partials/document.title}}
</div>