<!--
<h2>Поиск НД для анализа</h2>
<form class="attribute-search" method="get" enctype="multipart/form-data" name="analytic-search">
    <div class="row">
        <div class="col-md-6">
            {{> layouts/pan/attributes-for-search}}
        </div>
        <!--правая часть поиска-->
        <div class="col-md-6">
        </div>
    </div>
</form>
-->

<!--
<div class="classifiers-layouts relat-height">
<br/>
    <h2>Поиск НД для анализа</h2>
    <form class="attribute-search" method="get" enctype="multipart/form-data" action="/classification/pan/attribute-search" name="analytic-search">
    <div class="row">
        <div class="col-md-6">
            <div style="display: block; padding: 7px; position: relative;" class="middle-dia-content">
                <label style="text-align: left; margin-right: 10px; font-weight: bold;display:block;">Наименование</label>
                <input type="text" class="it" name="id_0_type_2_value" data-required="1" tabindex="1">
            </div>
        </div>
        <div class="line-content form-btn-save-reset __margin-top_l">
            <button type="reset" class="btn __default marg-right" tabindex="99">Сбросить значения</button>
            <button type="submit" class="btn sub-b" tabindex="2">Искать</button>
        </div>
    </form>
</div>
-->
<!--

<div class="pan-main relat-height">

    <div class="top-po-pp">
        
    </div>

    <div class="po-barnus">

		<div class="attr-go-sear">
                <a href="/classification/pan/attribute-search" class="btn" data-xhr-tabs="main-tabs">Найти НД в ИСУНД АСУТП</a>
        </div>
        

    </div>

    <script>
    (function(){

        if(!$ || !window.ClassSubM)
            return;

    })();
    </script>

    {{> partials/document.title}}
</div>

-->