<div id="htm-token-of-attention" class="__align_center err">

    <style>
    #htm-token-of-attention {}

    .wrapper .container #htm-token-of-attention {
        max-width: 25.000em;
        margin: 1.786em auto 0;
    }
    #htm-token-of-attention .ic-attention {
        display: block;
        width: 10.000em;
        height: auto;
        margin: auto;

        fill: {{errorColorTriangle}};
    }
    </style>

    <div><svg class="ic-attention" viewBox="0 0 67 58"><use xlink:href="#token-of-attention" /></svg></div>
    <p class="__h_m h __margin-bottom_m">{{#if errorTitle}}{{errorTitle}}{{/if}}</p>
    <p class="p __margin-bottom_xs __margin-top_xs">{{#if errorDescription}}{{errorDescription}}{{/if}}</p>
    <p class="descr __color_normal __margin-top_xs">
        {{#if errorStack}}{{errorStack}}{{/if}}
        <span class="__block">{{#if statusCodes}}{{statusCodes}}{{/if}}</span>
    </p>

    {{> partials/document.title}}
</div>