<div class="info-block comment-info-full-width">
    <div class="info-title __color_discuss">
        Отчет о замечаниях и предложениях к НД/проекту НД
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Общее количество:</div>
        <div class="__inline-block">15</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Важных:</div>
        <div class="__inline-block">2</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Срочных:</div>
        <div class="__inline-block">3</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Решено учесть:</div>
        <div class="__inline-block">4</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Решено отклонить:</div>
        <div class="__inline-block">6</div>
    </div>
    <div class="__margin-bottom_s">
        <a href="" class="btn __gray_btn">Подробный отчет</a>
    </div>
</div>
