<div class="info-block comment-info-full-width">
    <div class="info-title __color_discuss">
        Отчет о результатах классификации документа
    </div>
    <div class="__strong __inline-block __color-green __margin-bottom_s">Классификация
        завершена
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Эксперт:</div>
        <div class="__inline-block">Морозов Р.Б.</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Организация:</div>
        <div class="__inline-block">Транснефть</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">МАТС:</div>
        <div class="__inline-block">8 (111) 111-11-11</div>
    </div>
    <div class="__margin-bottom_s">
        <a href="" class="btn __gray_btn">Подробный отчет</a>
    </div>
</div>