<div class="info-block comment-info-full-width">
    <div class="info-title __color_discuss">
        Сравнение определения терминов, приведенных в разделе "Термины и определения" НД
        с определениями
        аналогичных терминов из словарей БФ ИСУНД АСУТП
    </div>
    <div class="__margin-bottom_s __margin-top_xxl">
        <div class="__strong __inline-block">Не соответствуют словарю:</div>
        <div class="__inline-block">2</div>
    </div>
    <div class="__margin-bottom_s">
        <div class="__strong __inline-block">Отсутствуют в словаре:</div>
        <div class="__inline-block">-</div>
    </div>
    <div class="__margin-bottom_s">
                                        <span class="__strong">Отсутствуют в разделе "Термины и
                                            определения":
                                        </span>1
    </div>
    <div class="__margin-bottom_s">
        <a href="" class="btn __gray_btn">Подробный отчет</a>
    </div>
</div>
